html {
  background: #333;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  margin: 1.7rem 3rem;
  font-family: "Berkshire Swash", serif;
}

#background-div {
  /* Background pattern from Toptal Subtle Patterns */
  /* background: url("images/patterns/papyrus-dark.png"); */
  /* background: url("images/patterns/pink\ dust.png"); */
  background: url("images/patterns/darkness.png");
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#app-wrapper {
  display: grid;
  grid-template-columns: 310px 1fr 310px;
  grid-template-rows: 50px 75vh 1fr;
  grid-gap: 1.5rem;
}

a {
  text-decoration: none;
}

.material-icons {
  font-size: 3.2rem;
  color: #000;
  background: #fff;
  border-radius: 20%;
  box-shadow: -5px -5px 5px #111;
  position: fixed;
  top: 25px;
}

h1 {
  color: #fff;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2rem;
  text-shadow: -5px -5px 5px #111;
  display: inline-block;
  position: fixed;
  left: 110px;
  top: 5px;
}

.section {
  padding: 0.7rem;
  background: #111;
  border-radius: 15px;
  border: 2px solid #fff;
  grid-row: 2 / 3;
  min-width: 280px;
}

/* * Thumbnail Section */

#thumbnail-section {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: -10px 10px 10px #111;
}

#file-input-label {
  color: #fff;
  background: #111;
  border: 1px outset #fff;
  border-radius: 10px;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: color 250ms ease;
  transition: background 250ms ease;
}

#file-input-label:hover {
  /* Upload button styling */
  cursor: pointer;
  color: #111;
  background: #48d593;
}

#file-input {
  display: none;
}

.details {
  color: #fff;
  background: #111;
  border: 1px outset #fff;
  border-radius: 10px;
  /* transition: color 250ms ease-out;
  transition: background 250ms ease-out;
  transition: height 500ms ease-out; */
  transition: all 500ms ease-out;
}

.details:hover {
  color: #111;
  background: #fff;
}

.details:not([open]) {
  height: 20%;
}

.details[open] {
  height: 75vh;
  overflow-y: scroll;
}

.summary {
  align-self: center;
  text-align: center;
  list-style: none;
  font-size: 2rem;
  padding: 2rem;
}

#upload-details {
  margin-bottom: 0.5rem;
}

.summary::-webkit-details-marker {
  /* list-style not supported by Chrome */
  display: none;
}

.summary:hover {
  /* hoverAlbums() function means no need for cursor pointer  */
  cursor: default;
}

.thumbnail-class {
  background: #444;
  display: flex;
  flex-flow: row wrap;
  /* TODO set min height so when only a few images loaded, hover div isn't mostly white */
  /* min-height: calc(75vh - (120px * 2)); */
}

.thumb {
  border: 2px solid #000;
  width: 7.9rem;
  height: 7.9rem;
  margin: 0.3rem;
  background-position: center;
  background-size: cover;
}

.thumb:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

/* * Canvas Section */

#canvas-div {
  place-self: center;
  grid-row: 1 / 4;
}

#canvas {
  box-shadow: -15px 15px 15px, 15px 15px 15px;
  border-radius: 3px;
  /* grid-row: 1 / 4; */
  justify-self: center; /* grid property - grid applied on #app-wrapper */
}

/* * Controls Section */

#controls-section {
  color: white;
  box-shadow: 10px 10px 10px #111;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  justify-content: space-between;
  position: relative;

  /* grid property applied TO this section - from grid applied to #app-wrapper */
  grid-column: 3 / 4;
}

#color-wrapper {
  margin: 0.2rem;
  min-height: 10rem;
}

#span-div {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.4rem;
}

span {
  color: #fff;
  background: #111;
  border: 1px solid #fff;
  /* border-top-right-radius: 12px;
  border-top-left-radius: 0px; */
  border-bottom: none;
  text-align: center;
  width: 33.3%;
}

span:hover {
  color: #111;
  background: #fff;
  cursor: default;
}

#frame-color-span {
  background: #fff;
  color: #111;
  border-top-left-radius: 4px;
  border-top-right-radius: 12px;
}
#text-color-span {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#border-color-span {
  border-top-left-radius: 12px;
  border-top-right-radius: 4px;
}

#frame-color-span:hover {
  /* background: #48d593; */
}

#text-color-span:hover {
  /* background: #4887d5; */
}

#border-color-span:hover {
  /* background: #c765cb; */
}

.color-control-class {
  border: 1px solid #fff;
  background: #fff;
  border-top: none;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  margin-right: 0.9rem;
  position: absolute;
  left: 10;
  top: 10;
}

.control-class {
  /* border: 1px solid red; */
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: right;
  padding: 2.5rem 1.2rem;
  background: #444;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  min-height: 1.2rem;
  max-height: 4rem;
  display: block;
}

.swatch {
  border: 1px solid #111;
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.1rem;
}

.swatch:hover {
  cursor: pointer;
}

input[type="color"]:hover {
  cursor: pointer;
}

.input-p {
  position: absolute;
}

#font-div p,
#text-div p {
  bottom: 40px;
}

#font-input {
  font-size: 1.2rem;
  width: 80%;
  position: absolute;
  left: 10%;
  margin: 0.2rem 0;
}

#text-field {
  font-size: 1.2rem;
  width: 80%;
  position: absolute;
  left: 10%;
  margin: 0.5rem 0;
}

/* * Footer */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  color: #444;
  font-size: 1rem;
  background: #222;
  border-radius: 7%;
  padding-top: 0.1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
}

/* Display None - at bottom so inherited when loaded*/
.display-none {
  display: none;
}
