/* *** General Styling *** */
:root {
  --green: #48d593;
  --red: #f78e8e;
  --control-shadow: 5px 5px 5px #111;
}

* {
  /* removes scroll bar as this 
  effects the width of the thumbs sections */
  scrollbar-width: none;
}

html {
  background: #333;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  margin: 1.7rem 3rem;
  font-family: "Berkshire Swash", serif;
}

p,
span {
  cursor: default;
}

#background-div {
  /* Background pattern from Toptal Subtle Patterns */
  /* background: url("images/patterns/papyrus-dark.png");
  background: url("images/patterns/pink\ dust.png"); */
  background: url("images/patterns/darkness.png");
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#app-wrapper {
  display: grid;
  grid-template-columns: 310px 1fr 310px;
  grid-template-rows: 50px 70vh 1fr 1fr;
  grid-gap: 1rem;
}

/* Header/Logo Section */

/* #header-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
} */

a {
  text-decoration: none;
}

.material-icons {
  font-size: 3.2rem;
  color: #000;
  background: #fff;
  border-radius: 20%;
  box-shadow: -5px -5px 5px #111;
  position: fixed;
  top: 1.2rem;
}

h1 {
  color: #fff;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2rem;
  text-shadow: -5px -5px 5px #111;
  display: inline-block;
  position: fixed;
  left: 7rem;
  top: 0;
}

/* Thumb & Control Section general styling */
.section {
  padding: 0.7rem;
  background: #111;
  border-radius: 15px;
  border: 2px solid #fff;
  min-width: 280px;
}

/* *** Thumbnail Section *** */

#thumbnail-section {
  /* Wraps  entire thumbnail section on left side of screen */
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
  justify-content: space-between;
  box-shadow: -10px 10px 10px #111;
  grid-row: 2 / 3;
}

#upload-thumbnail-section-wrapper {
  /* Wraps 'My Album' deatils, 'Upload More' & 'Clear Album' buttons*/
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

.thumbnail-class {
  /* Thumbnail div wrappers */
  background: #444;
  display: flex;
  flex-flow: row wrap;
  /* min-height: 40vh; */
}

.thumb {
  border: 2px solid #000;
  width: 7.9rem;
  height: 7.9rem;
  margin: 0.3rem;
  background-position: center;
  background-size: cover;
}

.thumb:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.btn-class {
  transition: color 250ms ease;
  transition: background 250ms ease;
}

.btn-class:hover {
}

#upload-file-input-label {
  /* Original Upload Button */
  color: #fff;
  background: #111;
  border: 1px outset #fff;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}

#upload-file-input-label:hover {
  /* Upload button styling */
  cursor: pointer;
  color: #111;
  background: var(--green);
}

.upload-hidden-class {
  /* Hides upload file inputs */
  display: none;
}

/* 'Upload More' & 'Clear Album' buttons */
#upload-clear-wrapper {
}

.upload-clear-button-class {
  /* Upload More & Clear Album buttons */
  /* order: 1; */
  background: #111;
  border-radius: 10px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.3rem 0;
  cursor: pointer;
  margin: 0.5rem;
}

#upload-more-label {
  color: var(--green);
  border: 1px solid var(--green);
  display: block;
}

#upload-more-label:hover {
  color: #111;
  background: var(--green);
  border: 1px solid #111;
}

#clear-album-button {
  color: var(--red);
  border: 1px solid var(--red);
}

#clear-album-button:hover {
  color: #111;
  background: var(--red);
  border: 1px solid #111;
}

.upload-clear-button-class:hover {
  color: #fff;
  border: 1px solid #fff;
}

/* 'My Album' & 'Examples' Details & Summary */
.details {
  color: #fff;
  background: #111;
  border: 1px solid #666;
  border-radius: 10px;
  transition: border 100ms ease-out;
  /* transition: height 500ms ease-out; */
}

.details:hover {
  /* color: #111; */
  /* background: #fff; */
  border: 1px solid #fff;
}

.details:not([open]) {
  /* height: 20%; */
}

.details[open] {
  /* height: 75vh; */
  overflow-y: scroll;
}

#upload-details {
  margin-bottom: 0.5rem;
  /* transition: border 100ms ease-in; */
}

.summary {
  align-self: center;
  text-align: center;
  list-style: none;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.summary::-webkit-details-marker {
  /* list-style not supported by Chrome */
  display: none;
}

.summary:hover {
  cursor: pointer;
}

/* *** Canvas Section *** */

#canvas-div {
  place-self: center;
  grid-row: 1 / 4;
}

#canvas {
  box-shadow: -15px 15px 15px, 15px 15px 15px;
  border-radius: 3px;
  /* grid-row: 1 / 4; */
  justify-self: center; /* grid property - grid applied on #app-wrapper */
}

/* *** Controls Section *** */

#controls-section {
  color: white;
  box-shadow: 10px 10px 10px #111;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  justify-content: space-between;
  position: relative;

  /* grid property applied TO this section - from grid applied to #app-wrapper */
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

/*  Color Controls */

#color-wrapper {
  margin: 0.2rem;
}

/* Large Selected Color Swatches */
#large-swatch-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.large-swatch-div {
  border: 1px solid #444;
  background: #111;
  height: 1.2rem;
  width: 5.3rem;
}

/* Color Spans (Frame, Text, Border) */
#color-span-div {
  /* Div wrapper of spans */
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.4rem;
}

#color-span-div span {
  color: #fff;
  background: #111;
  border: 1px solid #fff;
  text-align: center;
  width: 33.3%;
  text-shadow: var(--control-shadow);
}

#color-span-div span:hover {
  cursor: pointer;
}

#frame-color-span {
  border-top-left-radius: 4px;
  border-top-right-radius: 12px;
}
#text-color-span {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#border-color-span {
  border-top-left-radius: 12px;
  border-top-right-radius: 4px;
}

.color-control-class {
  /* Swatch div wrappers (frame, text, border) */
  border: 1px solid #fff;
  background: #444;
  border-top: none;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1.2rem;
  display: flex;
  flex-flow: row wrap;
}

/* Border On/Off Switch */
#border-wrapper {
  display: flex;
  place-items: center;
  margin-top: 0.5rem;
  order: 1; /* places wrapper at end of flex box (applied from color-control-class */
}

#border-range-span {
  /* "Width" */
  font-size: 1.2rem;
  text-shadow: var(--control-shadow);
}

#border-switch-controls-wrapper {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#border-switch-controls-wrapper span {
  /* "On" & "Off" */
  font-size: 1.25rem;
  position: absolute;
  top: 4%;
  z-index: 2;
}

#border-switch-on-span {
  color: #111;
  left: 11%;
}

#border-switch-off-span {
  color: #fff;
  right: 12%;
}

#border-switch-capsule {
  border: 2px solid #222;
  /* background: var(--green); */
  background: #444;
  width: 4.5rem;
  height: 2rem;
  border-radius: 1.3rem;
  position: relative;
  z-index: 1;
  box-shadow: var(--control-shadow);
}

#border-switch-ball {
  border: 0.1rem solid #111;
  background: #666;
  height: 2.3rem;
  width: 2.3rem;
  margin: 0;
  border-radius: 100%;
  position: absolute;
  top: -10%; /* pulls ball up */
  right: 0%;
  z-index: 3;
  box-shadow: 0px 0px 10px -2px #111;
}

#border-switch-capsule:hover,
#border-switch-ball:hover {
  cursor: pointer;
}

/* Border Range Input */
#border-range-span {
  padding-right: 0.5rem;
}

#border-range-wrapper {
  background: #666;
  border: 1px solid #999;
  border-radius: 5rem;
  box-shadow: var(--control-shadow);
  padding: 0.3rem 0.8rem 0 0.5rem;
}

#border-range-input {
  width: 100%;
  cursor: pointer;
}

/* Swatches */
.swatch {
  border: 1px solid #111;
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.1rem;
}

.swatch:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

.swatch-selected {
  border: 1px solid #ff0000;
}

input[type="color"]:hover {
  cursor: pointer;
}

/* Font Controls */
#font-wrapper {
  border: 1px solid #fff;
  background: #444;
  padding: 1rem;
  border-radius: 15px;
  min-height: 20vh;
  max-height: 40vh;
  overflow-y: scroll;
  margin-bottom: 0.2rem;
}

#font-title {
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-shadow: var(--control-shadow);
}

#font-size-wrapper {
  background: #666;
  border: 1px solid #999;
  border-radius: 5rem;
  box-shadow: var(--control-shadow);
  padding: 0.3rem 0.8rem 0 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  top: 0.2rem;
  right: -7%;
  display: inline-block;
}

#font-range-input {
  width: 100%;
  cursor: pointer;
}

#font-input {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3rem;
}

.font-div {
  background: #111;
  color: #fff;
  border: 2px solid #444;
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  min-height: 3rem;
}

.font-div:hover {
  background: #111;
  color: #fff;
  border: 2px solid #fff;
}

.font-div-selected {
  background: #fff;
  color: #111;
  order: -1;
}

.font-div-selected:hover {
  background: #fff;
  color: #111;
  border: 2px solid #fff;
}

.font-p {
  border-right: none;
  border-left: none;
  margin: auto 0;
  text-align: center;
  cursor: pointer;
}

/* Message controls */

#message-div {
  background: #444;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 0.2rem;
}

#message-title {
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-shadow: var(--control-shadow);
}

#message-input {
  font-size: 1.2rem;
  width: 95%;
  padding-left: 0.5rem;
}

/* *** Download Button *** */
#download-wrapper {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#download-a {
  cursor: default;
}

#download-btn {
  border-radius: 10px;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.5rem;
}

.download-btn-inactive {
  color: #666;
  background: #222;
  border: 1px solid #fff;
}

.download-btn-active {
  color: var(--green);
  background: #111;
  border: 1px solid var(--green);
}

.download-btn-active:hover {
  color: #111;
  background: var(--green);
  border: 1px solid #fff;
  cursor: pointer;
}

/* * Footer */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  color: #444;
  font-size: 1rem;
  background: #222;
  border-radius: 7%;
  padding-top: 0.1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
}

/* Display None - at bottom so applied to items instead of default display */
.display-none {
  display: none;
}
